@media only screen and (max-device-width: 480px), only screen and (-webkit-min-device-pixel-ratio: 2) , screen and (-webkit-device-pixel-ratio:1.5){}
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px;  margin-left: auto; margin-right: auto;  }

#content-container > div{ position: relative; top:inherit; }
#page_delani_studio_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 3287px;
}

#_bg__delani_studio_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 3287px;
	background:rgba(255,255,255,1);
}


#landing_page_image {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}



#welcome {
	top: 490px;
	left: 570px;
	width: 310px;
	height: 112px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 56px;
	text-align: left;
	color:#FFFFFF;
}


#to_delani_studio {
	top: 577px;
	left: 452px;
	width: 546px;
	height: 115px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 56px;
	text-align: left;
	color:#FFFFFF;
}


#amazing_people_are_making_amazing_designs_in_a_fun_environment {
	top: 667px;
	left: 410px;
	width: 915px;
	height: 46px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	text-align: left;
	color:#FFFFFF;
}


#about_us {
	top: 1068px;
	left: 602px;
	width: 240px;
	height: 74.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 45px;
	text-align: left;
	color:#000000;
}


#when_you_work_with_us__you_are_part_of_a_team_committed_collaborators__all_aspects_of_our_software_development_are_intergrated__interactive_and_agile__our_approach_unifies_design__development_and_product_management_to_create_exceptional_products__we_start_each_project_by_understanding_your_business_goals__the_user_s_needs_and_the_product_requirements__then_we_help_translate_them_into_effective_and_elegant_solutions_ {
	top: 1155px;
	left: 23px;
	width: 1378px;
	height: 292.75px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 21.5px;
	text-align: center;
	color:#000000;
}


#landing_page_image2 {
	top: 1390px;
	left: 0px;
	width: 1440px;
	height: 366px;
}


#what_we_do {
	top: 1800px;
	left: 558px;
	width: 335px;
	height: 93.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 45px;
	text-align: center;
	color:#000000;
}


#design {
	top: 1967px;
	left: 145px;
	width: 139px;
	height: 41px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	text-align: center;
	color:#000000;
}



#development {
	top: 1971px;
	left: 607px;
	width: 203px;
	height: 41px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	text-align: center;
	color:#000000;
}


#product_management {
	top: 1975px;
	left: 1055px;
	width: 295px;
	height: 41px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	text-align: center;
	color:#000000;
}


#portfolio {
	top: 2070px;
	left: 524px;
	width: 379px;
	height: 55px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 36px;
	text-align: center;
	color:#000000;
}


#c_image_1 {
	top: 2562px;
	left: 0px;
	width: 1440px;
	height: 512.25px;
}


#contact_us {
	top: 2585px;
	left: 510px;
	width: 408px;
	height: 77px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 36px;
	text-align: center;
	color:#FFFFFF;
}



#name_box {
	top: 2678px;
	left: 138px;
	width: 461px;
	height: 32px;
	border: 1px solid #ffffff;
	background:rgba(255,255,255,0);
	position: absolute;
	color: #FFFFFF;
	font-size: 18px;
	text-decoration-color: white;
}



#email_box {
	top: 2678px;
	left: 653px;
	width: 461px;
	height: 32px;
	border: 1px solid #ffffff;
	background:rgba(255,255,255,0);
	position: absolute;
}


#email___ {
	top: 2678px;
	left: 653px;
	width: 461px;
	height: 32px;
	overflow: hidden;
	background:rgba(255,255,255,0);
	border: 1px solid #ffffff;
	color: white;
	position: absolute;
	font-family: poppins;
	font-size: medium;
	font-size: 18px;
}


#message_box {
	top: 2731px;
	left: 180px;
	width: 934px;
	height: 220px;
	border: 1px solid #ffffff;
	background:rgba(255,255,255,0);
	overflow: visible;
}


#your_message_here___ {
	top: 2731px;
	left: 180px;
	width: 934px;
	height: 220px;
	font-family: poppins;
	font-size: 18px;
	color:#FFFFFF;
	background:rgba(255,255,255,0);
	position: absolute;
	border: 1px solid #ffffff;
}


#delani_studio_2019 {
	top: 3213px;
	left: 636px;
	width: 152px;
	height: 41px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	text-align: center;
	color:#000000;
}


#dribble_1 {
	top: 3122px;
	left: 409px;
	width: 50px;
	height: 50px;
}


#facebook_1 {
	top: 3122px;
	left: 490px;
	width: 50px;
	height: 50px;
}


#g_plus_1 {
	top: 3122px;
	left: 571px;
	width: 50px;
	height: 50px;
}


#skype_1 {
	top: 3122px;
	left: 652px;
	width: 50px;
	height: 50px;
}


#behance_1 {
	top: 3122px;
	left: 814px;
	width: 50px;
	height: 50px;
}


#mouse_click_1 {
	top: 943px;
	left: 697px;
	width: 23px;
	height: 37px;
}



#logo_1 {
	top: 328px;
	left: 660px;
	width: 96px;
	height: 96px;
}


#twitter_1 {
	top: 3122px;
	left: 328px;
	width: 50px;
	height: 50px;
}


#pinterest_1 {
	top: 3122px;
	left: 895px;
	width: 50px;
	height: 50px;
}


#flickr_1 {
	top: 3122px;
	left: 976px;
	width: 50px;
	height: 50px;
}


#stumble_upon_1 {
	top: 3122px;
	left: 733px;
	width: 50px;
	height: 50px;
}


#work8_1 {
	top: 2326px;
	left: 963px;
	width: 230px;
	height: 188px;
}


#design_icon_1 {
	top: 1884px;
	left: 170px;
	width: 80px;
	height: 83px;
}


#dev_icon_1 {
	top: 1895px;
	left: 665px;
	width: 79px;
	height: 76px;
}


#product_icon_1 {
	top: 1884px;
	left: 1159px;
	width: 79px;
	height: 91px;
}


#gray_background {
	top: 2114px;
	left: 225px;
	width: 230px;
	height: 188px;
}


#ontario {
	top: 2114px;
	left: 470px;
	width: 230px;
	height: 188px;
}


#orange_brown {
	top: 2114px;
	left: 715px;
	width: 230px;
	height: 188px;
}


#jim_carey_ {
	top: 2114px;
	left: 960px;
	width: 230px;
	height: 188px;
}

#work5_1 {
	top: 2326px;
	left: 225px;
	width: 230px;
	height: 188px;
}


#work6_1 {
	top: 2326px;
	left: 470px;
	width: 230px;
	height: 188px;
}


#work7_1 {
	top: 2326px;
	left: 715px;
	width: 233px;
	height: 188px;
}
#white_front0{
	display: none;
	top: 2098px;
	left: 225px;
	width: 230px;
	height: 118px;
	font-family: poppins;
	position: absolute;
	color: black;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	font-weight: bold;
	padding-top: 80px;
}
#white_front1{
		display: none;
		top: 2098px;
		left: 470px;
		width: 230px;
		height: 118px;
		font-family: poppins;
		position: absolute;
		color: #000000;
		background-color: rgba(255,255,255,0.5);
		text-align: center;
		font-weight: bold;
		padding-top: 80px;
}

#white_front2{
		display: none;
		top: 2098px;
		left: 715px;
		width: 230px;
		height: 118px;
		font-family: poppins;
		position: absolute;
		color: #000000;
		background-color: rgba(255,255,255,0.5);
		text-align: center;
		font-weight: bold;
		padding-top: 80px;
}
#white_front3{
		display: none;
		top: 2098px;
		left: 960px;
		width: 230px;
		height: 118px;
		font-family: poppins;
		position: absolute;
		color: #000000;
		background-color: rgba(255,255,255,0.5);
		text-align: center;
		font-weight: bold;
		padding-top: 80px;
}
#white_front4{
    display: none;
    top: 2310px;
    left: 225px;
    width: 230px;
    height: 118px;
    font-family: poppins;
    position: absolute;
    color: #000000;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    font-weight: bold;
    padding-top: 80px;
}
#white_front5{
    display: none;
    top: 2310px;
    left: 470px;
    width: 230px;
    height: 118px;
    font-family: poppins;
    position: absolute;
    color: #000000;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    font-weight: bold;
    padding-top: 80px;
}
#white_front6{
    display: none;
    top: 2310px;
    left: 715px;
    width: 233px;
    height: 118px;
    font-family: poppins;
    position: absolute;
    color: #000000;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    font-weight: bold;
    padding-top: 80px;
}
#white_front7{
        display: none;
        top: 2300px;
        left: 963px;
        width: 230px;
        height: 115px;
        font-family: poppins;
        position: absolute;
        color: #000000;
        background-color: rgba(255,255,255,0.5);
        text-align: center;
        font-weight: bold;
        padding-top: 80px;
        font-size: 20px;
}
#p1{
            margin: 10px;
            padding-top: 30px;
            text-align: center;
            color: #000000;
            position: relative;
            top: 1795px;
            font-size: 15px;
            left: 0px;
            width: 500px;
            font-family: poppins;
         }
#p2{
            margin: 10px;
            padding-top: 30px;
            text-align: center;
            color: #000000;
            position: absolute;
            left: 400px;
            width: 600px;
            top: 1850px;
            font-size: 15px;
            font-family: poppins;
         }
#p3{
            margin: 10px;
            padding-top: 30px;
            text-align: center;
            color: #000000;
            position: absolute;
            font-family: poppins;
            top: 1855px;
            left: 900px;
            width: 600px;
            font-size: 15px;
         }
h1{
            top: 1845px;
            margin: 20px;
            position: relative;
            font-size: 18px;
            font-family: Lato;
            left: 195px;
        }
h2{
            top: 1855px;
            position: relative;
            font-size: 18px;
            font-family: Lato;
            left: 640px;
        }
h3{
            top: 1855px;
            position: relative;
            font-size: 18px;
            font-family: Lato;
            left: 1100px;
        }
#pdesign2, #pdevelopment2, #product2{
	display: none;
}
::placeholder {
	color: #ffffff;
	opacity: 1;
  }
#submit{
	position: absolute;
	top: 2970px;
	left: 180px;
	width: 90px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 5px;
	background-color: cornflowerblue;
	text-shadow: black;
	color: cornsilk;
	font-family: poppins;
	font-size: 15px;
	font-weight: bolder;
	box-shadow:5px5px5px#eee;
}