@media only screen and (max-device-width: 480px), only screen and (-webkit-min-device-pixel-ratio: 2) , screen and (-webkit-device-pixel-ratio:1.5){}
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px;  margin-left: auto; margin-right: auto;  }

#content-container > div{ position: relative; top:inherit; }
#page_delani_studio_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 3287px;
}

#_bg__delani_studio_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 3287px;
	background:rgba(255,255,255,1);
}


#landing_page_image {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}



#welcome {
	top: 490px;
	left: 570px;
	width: 310px;
	height: 112px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 56px;
	text-align: left;
	color:#FFFFFF;
}


#to_delani_studio {
	top: 577px;
	left: 452px;
	width: 546px;
	height: 115px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 56px;
	text-align: left;
	color:#FFFFFF;
}


#amazing_people_are_making_amazing_designs_in_a_fun_environment {
	top: 667px;
	left: 410px;
	width: 915px;
	height: 46px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	text-align: left;
	color:#FFFFFF;
}


#about_us {
	top: 1068px;
	left: 602px;
	width: 240px;
	height: 74.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 45px;
	text-align: left;
	color:#000000;
}


#when_you_work_with_us__you_are_part_of_a_team_committed_collaborators__all_aspects_of_our_software_development_are_intergrated__interactive_and_agile__our_approach_unifies_design__development_and_product_management_to_create_exceptional_products__we_start_each_project_by_understanding_your_business_goals__the_user_s_needs_and_the_product_requirements__then_we_help_translate_them_into_effective_and_elegant_solutions_ {
	top: 1155px;
	left: 23px;
	width: 1378px;
	height: 292.75px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 21.5px;
	text-align: center;
	color:#000000;
}


#landing_page_image2 {
	top: 1390px;
	left: 0px;
	width: 1440px;
	height: 366px;
}


#what_we_do {
	top: 1800px;
	left: 558px;
	width: 335px;
	height: 93.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 45px;
	text-align: center;
	color:#000000;
}


#design {
	top: 1967px;
	left: 145px;
	width: 139px;
	height: 41px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	text-align: center;
	color:#000000;
}

