@media only screen and (max-device-width: 480px), only screen and (-webkit-min-device-pixel-ratio: 2) , screen and (-webkit-device-pixel-ratio:1.5){}
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px;  margin-left: auto; margin-right: auto;  }

#content-container > div{ position: relative; top:inherit; }
#page_delani_studio_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 3287px;
}

#_bg__delani_studio_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 3287px;
	background:rgba(255,255,255,1);
}


#landing_page_image {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

